{% extends "base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block content %}
    <link rel="stylesheet" href="/static/css/about.css" />
  </head>
  <body>
    <div class="about-section">
      <h3>Welcome, {{name}}</h3>
      <h1>About Us Page</h1>
      <p>Some text about who we are and what we do.</p>
      <p>
        Resize the browser window to see that this page is responsive by the
        way.
      </p>
    </div>

    <h2 style="text-align: center">Our Team</h2>
    <div class="row">
      <div class="search-box">
        <form method="get">
          <input type="text" name="servicename" value="" />
          <input type="submit" value="Search" />
        </form>
      </div>
      <div class="center">
        <div class="pagination">
          {% if service_data.has_previous %}
          <a href="/about-us/?page=1">First</a>
          <a href="/about-us/?page={{service_data.previous_page_number}}" tabindex="-1">&laquo;</a>
          {% endif %}
          {% if service_data.has_next %}
          <a href="/about-us/?page={{service_data.next_page_number}}">&raquo;</a>
          {% endif %}
        </div>
      </div>
      {% for n in service_data %}
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>{{n.service_name}}</h2>
            <p class="title">{{n.service_title | upper}}</p>
            <p class="desc">{{n.service_desc | safe}}</p>
            <p>[Length : {{n.service_desc | length}}]</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      {% empty %}
      <h1 class="no-data">NO DATA FOUND</h1>
      {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>
