{% extends "base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block content %}
    <link rel="stylesheet" href="/static/css/about.css" />
  </head>
  <body>
    <div class="about-section">
      <h3>Welcome, {{name}}</h3>
      <h1>About Us Page</h1>
      <p>Some text about who we are and what we do.</p>
      <p>
        Resize the browser window to see that this page is responsive by the
        way.
      </p>
    </div>

    <h2 style="text-align: center">Our Team</h2>
    <div class="row">
      {% for n in service_data %}
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>{{n.service_name}}</h2>
            <p class="title">{{n.service_title | upper}}</p>
            <p>{{n.service_desc | safe}}</p>
            <p>[Length : {{n.service_desc | length}}]</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>
