{% extends "base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block content %}
    <link rel="stylesheet" href="/static/css/calculator.css" />
  </head>
  <body>
    <div class="calculator-body">
      <h1 class="text-calci">CALCULATOR</h1>
      <form method="post" class="form-body">
        {% csrf_token %}
        <label>Value 1 :</label>
        <input type="text" name="num1" />
        <select name="opr">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="/">/</option>
          <option value="*">*</option>
        </select>
        <label>Value 2 :</label>
        <input type="text" name="num2" />
        <div class="button-container">
          <button type="submit" class="button-89">Calculate</button>
        </div>
        <label class="output">Output :</label>
        <input class="output-box" value="{{calculation}}" type="text"/>
        <p class="odd_even">{{odd_even}}</p>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
