{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/static/css/header.css" />
  </head>
  <body>
    <div class="body">
      <ul>
        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "aboutus" %}">About</a></li>
        <li><a href="{% url "contact" %}">Contact</a></li>
      </ul>
    </div>
  </body>
</html>
