{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/static/css/header.css" />
  </head>
  <body>
    <div class="body">
      <ul>
        {% comment %} {{request.path}} {% endcomment %}
        <li class="{% if request.path == '/' %} active {% endif %}"><a href="{% url "home" %}">Home</a></li>
        <li class="{% if request.path == '/about-us/' %} active {% endif %}"><a href="{% url "aboutus" %}">About</a></li>
        <li class="{% if request.path == '/contact/' %} active {% endif %}"><a href="{% url "contact" %}">Contact</a></li>
        <li class="{% if request.path == '/user/' %} active {% endif %}"><a href="{% url "user" %}">User</a></li>
      </ul>
    </div>
  </body>
</html>
