{% extends "base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block content %}
    <link rel="stylesheet" href="/static/css/marksheet.css" />
  </head>
  <body>
    <div class="marksheet-body">
      <h1 class="text-marksheet">MARK SHEET</h1>

      {% if error1 %}
      <div class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <strong>Error!</strong> You have not Filled All the Details
      </div>
      {% endif %}

      {% if error2 %}
      <div class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <strong>Error!</strong> You have not Filled All the Details
      </div>
      {% endif %}

      {% if error3 %}
      <div class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <strong>Error!</strong> You have not Filled All the Details
      </div>
      {% endif %}

      {% if error4 %}
      <div class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <strong>Error!</strong> You have not Filled All the Details
      </div>
      {% endif %}

      {% if error5 %}
      <div class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <strong>Error!</strong> You have not Filled All the Details
      </div>
      {% endif %}

      {% if error6 %}
      <div class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <strong>Error!</strong> You have not Filled All the Details
      </div>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        <div class="subjects-body">
          <label>Subject - 1 :</label>
          <input type="text" name="sub1" />
          <label>Subject - 2 :</label>
          <input type="text" name="sub2" />
          <label>Subject - 3 :</label>
          <input type="text" name="sub3" />
          <label>Subject - 4 :</label>
          <input type="text" name="sub4" />
          <label>Subject - 5 :</label>
          <input type="text" name="sub5" />
          <label>Subject - 6 :</label>
          <input type="text" name="sub6" />
        </div>

        <button type="submit" class="button-31">Calculate</button>

        <div class="total-body">
          <label>Total :</label>
          <input type="text" value="{{total}} / 600" name="total" />
          <label>Percentage :</label>
          <input type="text" value="{{percentage}}" name="percent" />
          <label>Division :</label>
          <input type="text" value="{{division}}" name="division" />
        </div>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
