{% extends "base.html" %}
<!DOCTYPE html>
{% block content %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/userForm.css" />
  </head>
  <body>
    <div class="form-body">
      <h2>User Form</h2>

      <form method="post">
        {% csrf_token %}
        {{form}}
        {% comment %} <label for="fname">First name:</label><br />
        <input type="text" id="fname" name="fname" placeholder="John" /><br />
        <label for="lname">Last name:</label><br />
        <input type="text" id="lname" name="lname" placeholder="Doe" /> {% endcomment %}


        <div class="button-container">
          <button class="button-27" type="submit">Save</button>
        </div>
      </form>
      <h2>Name : {{fname}} {{lname}}</h2>
    </div>
  </body>
  {% endblock %}
</html>
