body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.calculator-body {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.form-body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    border: 3px solid blueviolet;
}

select {
    margin-bottom: 20px;
    width: 30%;
    text-align: center;
    font-size: 30px;
    color: blue;
    align-self: center;
    border: 2px solid blue;
}

/* CSS */
.button-89 {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    margin-left: 40px;
    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}

.output{
    margin: 20px;
    margin-left: 65px;
}

.output-box{
    border-color: purple;
    height: 50px;
    width: 175px;
    font-size: 30px;
}