.body{
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: white;
  display: block;
  padding: 8px;
}

.active a{
  color: black;
  background-color: white;
}