body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main-body{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
}

h1{
    background-color: black;
    color: white;
}

.news-title{
    align-self: center;
    color: black;
    background: none;
}

marquee a{
    color: black;
    font-weight: 600;
}